@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <TopMenu />
        </div>

        <div class="content px-4">
            <ErrorBoundary @ref="@_error" Context="Exception">
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <div class ="alert bg-danger text-white alert-dismissible">
                        @Exception.GetType(): @Exception.Message
                        @* ReSharper disable once CSharpWarnings::CS8602 *@
                        <button class="btn-close" @onclick="@_error.Recover"></button>
                    </div>
                </ErrorContent>
            </ErrorBoundary>
            
        </div>
    </div>
</div>
<BlazoredToasts />

@code{
    private ErrorBoundary? _error;
}